* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

header {
  font-family: 'Black Ops One', cursive;
  font-size: 32px;
  height: 100px;
}

main {
  flex:1;
  display: grid;
  grid-template: 40px 1fr / 1fr 1fr;
  width: 100%;
  gap: 20px;
  padding: 50px;
}

.rotate {
  grid-column: 1;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  justify-self: center;
}

.gameboard {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.player1.gameboard {
  grid-row: 2 / 3;
  grid-column: 1;
}

.player2.gameboard {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.gameboard > div {
  min-height: 10px;
  min-width: 10px;
  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer>a>img {
  height: 24px;
  width: auto;
  transition: 0.5s;
}

footer>a>img:hover {
  height: 24px;
  width: auto;
  transform: scale(1.2) rotate(360deg);
  cursor: pointer;
}

.ship {
  background-color: darkcyan;
}

.hit {
  background-color: darkred;
}

.miss {
  background-color: dimgray;
}

.hidden {
  display: none !important;
}
